<div class="container-fluid" style="height: 100vh;">
    <div class="row mh-100" style="background-color: rgba(10, 100, 236, 0.801)">
        <p>Header Area</p>
    </div>
    <div class="row mh-100">
        <nav class="col-xs" style="padding-bottom: 49%; background-color: rgba(1, 225, 241, 0.966)">Side NavBar</nav>
        <div class="col-xl" ui-view="content"></div>
    </div>
    <div class="row mh-100" style="background-color: rgba(193, 241, 20, 0.904)">
        <p>&copy; &nbsp;Forever & Always &nbsp;<a href="https://about.me/swateek" target="_blank">Swateek Jena</a></p>
    </div>
</div>